name: publish
on:
  push:
    tags: 'v*'

  # Allows you to run this workflow manually from the Actions tab
  # This event will only trigger a workflow run if the workflow file is on the default branch.
  workflow_dispatch:

jobs:
  code-check:
    uses: ./.github/workflows/code-check.yml

  publish:
    needs:
      - code-check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Fetch full git history
          fetch-depth: 0
          # Fetch tags
          fetch-tags: true
      - name: Get Version
        # https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/workflow-commands-for-github-actions#environment-files
        run: |
          export COMMIT_SHA="${{ github.sha }}"
          export GIT_TAG="$(git tag --points-at=$COMMIT_SHA | tr -d ' \n')"
          if [ -z "$GIT_TAG" ]; then
            echo "tag not found"
            exit 1
          fi
          echo "Current git tag: '$GIT_TAG'"
          export PKG_VERSION="$(npm pkg get version | tr -d '\"')"
          echo "PKG_VERSION=$PKG_VERSION" >> $GITHUB_ENV
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'npm'
      - name: npm ci
        run: npm ci
      - name: Install @vscode/vsce
        run: npm install -g @vscode/vsce
      - name: Build
        run: vsce package
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: vscode-more-file-command-${{ env.PKG_VERSION }}.vsix
          path: vscode-more-file-command-${{ env.PKG_VERSION }}.vsix
          if-no-files-found: 'error'
